$grey: #717171
    
body, html
    margin: 0
    padding: 0

body
    background-color: black
    font-family: 'Roboto', sans-serif;
    
    color: #fff

a
    text-decoration: none
    color: #fff

ul
    list-style: none
    margin: 0
    padding: 0

li
    margin: 0
    padding: 0

.header-btn
    padding: 15px 30px
    background: linear-gradient(90deg, #C89AFC, #7C6AFA)
    border-radius: 50px

.title
    font-weight: bold
    font-size: 48px

.container
    max-width: 1300px
    margin: 0 auto

.header
    background-image: url("../img/main-screen.png")
    background-repeat: no-repeat 
    background-size: cover
    background-position: center top
    height: 95vh
    padding-top: 40px

.section-title
    font-size: 48px
    font-weight: bold

.sec-text
    font-size: 16px
    font-weight: normal
    line-height: 160%

.links
    font-size: 16px
    
.nav
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1760px
    margin: 0 auto

.list-links
    display: flex

.nav-links
    margin-right: 56px
    &:last-child
        margin-right: 0

.offer
    margin-top: 20vh

.offer-title
    max-width: 800px
    font-size: 64px
    line-height: 140%

.time
    display: flex
    max-width: 530px
    justify-content: space-between

.time-card
    text-align: center
    background-color:#121212
    padding: 20px 30px

.chislo
    font-weight: bold
    font-size: 36px

.dscr-text
    font-size: 16px
    color: $grey
    margin: 0
    margin-top: 13px

.buy
    display: flex
    align-items: center
    justify-content: space-between
    padding: 25px  0

.wrapper
    background-color: #121212

.buy-btn
    padding: 15px 30px
    font-weight: bold
    background: linear-gradient(94.78deg, #DF5950, #451046 93.72%)
    border-radius: 50px

.how-many
    font-weight: bold
    font-size: 16px

.results
    display: grid
    grid-template-columns: 200px 30px 
    grid-template-rows: 30px 30px
    grid-column-gap: 30px

.we
    padding-top: 200px
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center

.we-img
    order: -1

.text-block
    max-width: 650px

.get-now
    padding-top: 200px
    text-align: center

.card-title
    font-size: 24px

.card-block
    padding-top: 120px
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.card
    max-width: 390px

.partners
    text-align: center
    padding-top: 200px

.setka
    padding-top: 100px
    display: grid
    grid-template-columns: repeat(4, 350px) 
    grid-template-rows: repeat(2, 160px)

.teachers
    padding-top: 200px
    text-align: center

.teacher-block
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.teacher-btn
    padding: 15px 30px
    border: 2px solid white
    border-radius: 50px
    transition: 0.5s
    &:hover
        background-color: #fff
        color: black

.prof
    margin-bottom: 45px

.footer
    padding-bottom: 70px
    text-align: center
    padding-top: 200px

.footer-dscr
    padding-bottom: 60px

.forma
    border-radius: 50px
    margin: 0 auto
    background-color: #424242
    max-width: 500px

.form
    display: flex
    justify-content: space-between    

.E-mail 
    color: #fff
    outline: none
    padding-left: 30px
    background-color: transparent
    border: none
    &::placeholder
        color: white
        font-size: 14px

.social
    padding-top: 40px
    padding-bottom: 50px

.social-one
    margin-right: 30px
    &:last-child
        margin-right: 0 

.me
    color: #DF5951

.submit
    background: linear-gradient(90deg, #DF5950, #451046)
    border-radius: 50px
    border: none
    padding: 15px 30px
    color: white
    font-weight: bold
    font-size: 16px